/*.button1 {
	background: #000;
	display: block;
	width: 300px;
	margin: 50px auto;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
	

}

.buttoncontent {
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	padding: 10px 60px;
	display: block;
	margin: auto;


}

.padded {
	height: 35px;
}

.button2 {
	background: #000;
	display: block;
	width: 300px;
	margin: 50px auto;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
}

.button3 {
	background: #000;
	display: block;
	width: 300px;
	margin: 50px auto;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
}*/



/* CSS FOR PART II */
/*html {
	box-sizing: border-box;

}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #b7bdb1;
}

a {
	text-decoration: none;
	color: #0b493f;
}
.container {
	max-width: 960px;
	position: relative;
  	left: 50%;
  	transform: translateX(-50%);
}
.navigation {
	background: #9bad8b;
	height: 4em;
	padding: 2em;
	text-align: center;
	display: table;
	width: 100%;
}

.navlinks {
	display: table-cell;
}

.navlinks a {
	max-width: 100%;
	width: 100%;
	height: 100%;

}

.heroimg {
	width: 100%;
	height: auto;
}

.maincontent {
	max-width: 960px;
	margin-top: -4px;
	background: #454942;
	padding: 1em;
}

.contenttitle {
	color: #80809A;
}

.textblock {
	color: #80809A;
	margin-left: 20px;	
}

.gallery {
	background: #79A057;
	padding: 1em;
	text-align: center;
}

.galleryimg {
	display: inline-block;
}

.bodylink {
	color: #DDF0B8;
}

@media screen and (max-width: 959px) {
	.container {
		padding: 15px;
	}

	.navigation {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
	}

	.gallery {
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
	}
}

@media screen and (max-width: 900px) {
	.gallery {
		padding-left: 0px;
		padding-right: 0px;
	}
	.galleryimg {
		width: 100%;
	}
}

@media screen and (max-width: 500px){

	.navigation {
		display: block;
		height: auto;
		padding: 0px;
	}

	.navlinks {
		width: 100%;
		display: block;
		height: auto;
		padding: 1em;
		border: 1px solid #80809A;
	}

	.top {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
	}
}*/


.container {
	background: #FFF6F6;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;

}

.button a {
	text-decoration: none;
	border-radius: 15px;
	background: #DDF0B8;
	font-size: 4em;
	padding: 50px 160px;
	line-height: 100%;
	text-align: center;
	position: absolute;
	top: 40%;
	/* pull content up by half its size */
	transform: translateY(-50%);
	left:50%;
	transform: translateX(-50%);
	box-shadow: 10px 10px 5px #888888;
	color: #7E8C8C;
}

.button a:active {
	color: #9FBBBB;
	background: #E8F4CF;
}


.lightbox-overlay {
	position:fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
}

.lightbox-content {
	z-index: 2;
	background: #ffffff;
	width: 50%;
	padding: 20px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.lightbox-content a {
	color: #FFF;
	text-decoration: none;
	font-size: .8em;
	background: #ff9999;
	padding: 8px 30px;
	display: inline-block;
	border-radius: 5px

}

.lightbox-content div {
	float: right;
}


































